<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.casian.aplicatiefinala">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicatieFinala">
        <activity
            android:name=".Test6"
            android:exported="false" />
        <activity
            android:name=".Test5"
            android:exported="false" />
        <activity
            android:name=".Pedagogic"
            android:exported="false" />
        <activity
            android:name=".Tehnologic"
            android:exported="false" />
        <activity
            android:name=".Stinte"
            android:exported="false" />
        <activity
            android:name=".MateInfo"
            android:exported="false" />
        <activity
            android:name=".Ecran5"
            android:exported="false" />
        <activity
            android:name=".Test4"
            android:exported="false" />
        <activity
            android:name=".Test3"
            android:exported="false" />
        <activity
            android:name=".Test2"
            android:exported="false" />
        <activity
            android:name=".TesteVerificare"
            android:exported="false" />
        <activity
            android:name=".PdfActivity4"
            android:exported="false" />
        <activity
            android:name=".PdfActivity3"
            android:exported="false" />
        <activity
            android:name=".PdfActivity2"
            android:exported="false" />
        <activity
            android:name=".Motivatie"
            android:exported="false" />
        <activity
            android:name=".PdfActivity"
            android:exported="false" />
        <activity
            android:name=".Ecran4"
            android:exported="false" />
        <activity
            android:name=".Detalii"
            android:exported="false" />
        <activity
            android:name=".BunVenit"
            android:exported="false" />
        <activity
            android:name=".Ecran3"
            android:exported="false" />
        <activity
            android:name=".Ecran2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>